# Dependencies
node_modules/
.expo/

# Metro
.metro-health-check*

# Expo
.expo-shared/
web-build/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/.xcode.env

# Misc
.DS_Store
*.log
.env
.env.local
